/*通用*/
body { font-size:12px; font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif; }

/* 颜色 */
.cBlack { color: #000; }

/* 头部 */
#myTab .active a { background: #eee; }
