<div class="footer">
    <div class="container pt20 pb5 projectList"
         style="border-top: 2px solid #6cbf4a; border-bottom: 1px solid #ddd">
      <ul class="list-inline text-center">
        {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
        <li><a href="{siteurl($siteid)}">首页</a></li>  
           {loop $data $k $v}
              <li>-</li>
              <li><a href="{$v[url]}">{$v[catname]}首页</a></li>

               {pc:content action="category" catid="$k" num="10" siteid="$siteid" order="listorder ASC"}
               {if $k==9}
                {loop $data $r}
                 <li>-</li> 
                  <li><a href="{$r[url]}">{$r[catname]}项目</a></li>
                 {/loop}
                 {/if}
                {/pc}
           {/loop}
        {/pc}
      </ul>
    </div>
    
    <ul class="list-inline text-center contact mt20">
      



      {pc:content action="category" catid="1" num="15" siteid="$siteid" order="listorder ASC"}
      {loop $data $r}
        <li><a href="{$r[url]}" target="_blank">{$r[catname]}</a></li> 
        <li>｜</li>  
      {/loop}
      {/pc}
    </ul>
    <div class="text-center">
      &copy;2014&nbsp;&nbsp;71zls&nbsp;&nbsp;版权所有
      <a href="http://www.miitbeian.gov.cn" target="_blank">闽ICP备13021172号</a>
    </div>
  </div>
  
  
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="{APP_PATH}statics/71zls/js/custom.js"></script>
  <script src="{JS_PATH}cookie.js" type="text/javascript"></script>
  <script type="text/javascript">
//历史记录
$(document).ready(function(){
    var title = document.title;
    var url = document.URL;
    var ob = '';
    var his = getcookie('history');
    if(his) {
        if(his.split(',').length > '8') his = his.substring(his.indexOf(',')+1);
        if(his.indexOf(title) == '-1') setcookie('history',his + ',' + title + '<#>' + url,'7');
        his = his.split(',');
        for(var i in his) {
            var tit = his[i].split(/<#>/);
            ob += '<li><a href="'+ tit[1] +'" target="_blank">'+ tit[0] +'</a></li>';
        }
        var obj='';
        obj += '<li class="divider"></li>';
        obj = ob +obj+ '<li><a href="javascript:delhistory();">清除</a></li>';
        $(".bbbccc").append(obj);
    } else {
        setcookie('history',title + '<#>' + url,'7');
    }
});
function delhistory() {
    setcookie('history','');
    location.reload(true);
}
$(function(){
  $(".picbig").each(function(i){
    var cur = $(this).find('.img-wrap').eq(0);
    var w = cur.width();
    var h = cur.height();
     $(this).find('.img-wrap img').LoadImage(true, w, h,'{IMG_PATH}msg_img/loading.gif');
  });
})
</script>
  <script type="text/javascript">
  $(function() {
    $('.btnTooltip').tooltip({
      selector: "[data-toggle=tooltip]",
      container: "body"
    })
  })
  </script>
