<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
  {if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}
  {$SEO['site_title']}
</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/custom.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/base.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/common.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/font-awesome.min.css">
  <!--[if IE 7]>
    <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheet/font-awesome-ie7.min.css">
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{APP_PATH}statics/71zls/js/responese.js"></script>
    <![endif]-->
  
</head>
<body>

{template "content","header_new_page"}

  <div class="container mb50">
    
    <div class="well">
      <div class="panel panel-success"  style="margin:0">
        <div class="panel-heading">
          <h3 class="panel-title">查找的条件</h3>
        </div>
        <div class="panel-body">
           <p class="f14">
            <strong>品牌区域：</strong>
           {php $zone = intval($_GET['zone'])}
      {php $sub_zone = show_linkage(1,$zone,$zone,$modelid)}
           
        
        {loop $sub_zone $area}
          {if $zone == $area['linkageid']}
            <em>{$area['name']}</em>
          {else}
            <a href="{$area['url']}">{$area['name']}</a>        
          {/if}
        {/loop}</dd>
           
           </p>
            <p class="f14">
            <strong>投资金额：</strong>
            {php $price_rang = array('5万以下|1_50000','5万-20万|50000_200000','20万-50万|200000_500000','50万以上|500000_99999999')}
            {loop filters('price',$modelid,$price_rang) $r}
           {$r[menu]}
           {/loop}
           </p>
          <p class="f14">
            <strong>经营方式：</strong>
              {loop filters('manage',$modelid) $r}
              {$r[menu]}
              {/loop}
              
          
           </p>
        </div>
      </div>
    </div>
    
    <div class="mt20">      
      <div class="tbfilter oh">
        <div class="pull-left">
          <a href="#" class="btn btn-link cBlack">综合</a>
          <!-- <a href="#" class="btn btn-link cBlack" style="border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3">人气<i class="glyphicon glyphicon-arrow-down"></i></a> -->
          <?php
            $sort = $_GET["sort"];
            $url = get_url();
            if(!$sort || $sort=="down") {
              $url = str_replace("&sort=down", "", $url);
              $sort = "up";
              $url .= "&sort=".$sort;
              echo "<a href='$url' class='btn btn-link cBlack'>最新<i class='glyphicon glyphicon-arrow-down'></i></a>";
            } else {
              $url = str_replace("&sort=up", "", $url);
              $sort = "down";
              $url .= "&sort=".$sort;
              echo "<a href='$url' class='btn btn-link cBlack'>最新<i class='glyphicon glyphicon-arrow-up'></i></a>";
            }
          ?>

          
        </div>
        <div class="pull-right">
          <a href="#" class="btn btn-link" style="color:#a7a7a7; border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; background: #fff"><i class="glyphicon glyphicon-th-list"></i></a>
          <a href="#" class="btn btn-link" style="color:#ff6804"><i class="glyphicon glyphicon-th-large"></i></a>
        </div>
      </div>
      
      <div class="">
        
        <div class="pull-left" style="width:780px; border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3">
          <table class="table">
            <thead>
              <tr>
                <th>
                  <form action="" role="form">
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox1" value="option1"> 只看有图
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox2" value="option2"> 在线商家
                    </label>
                  </form>
                </th>
                <th style="width:100px">发布日期</th>
              </tr>
            </thead>
            <tbody>

              {php $urlrule = makeurlrule()}
              {php $cachetime = getinfocache('info_cachetime')}
              {php $sql = structure_filters_sql($modelid,$zone)}
              
              <?php
                $sort = $_GET["sort"];
                if (!$sort || $sort=="down") {
              ?>
                  {pc:content action="lists" catid="$catid" where="$sql"  num="15" order="listorder DESC,inputtime DESC" page="$page" moreinfo="1" cache="$cachetime" urlrule="$urlrule"}
                  
              <?php
                } else {
              ?>
                  {pc:content action="lists" catid="$catid" where="$sql"  num="15" order="listorder ASC,inputtime ASC" page="$page" moreinfo="1" cache="$cachetime" urlrule="$urlrule"}
              <?php
                }
              ?>
                {loop $data $r}
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-3">
                        <a href="{$r[url]}" class="pull-left">
                          {if $r[thumb]}
                          <img src="{$r[thumb]}" width="110px" height="90px" class="img-thumbnail" alt="">
                          {else}
                          <img src="{APP_PATH}statics/71zls/images/logo2.png" width="110px" height="90px" class="img-thumbnail" alt="">
                          {/if}
                        </a></div>
                        <div class="col-md-6">
                          <span>
                            <a href="{$r[url]}" style="color:#fa8904">{$r[title]} </a><a href="#" class="btn btn-success btn-xs">在线</a>
                          </span>
                          <p class="mt10 lh150">
                        
                            {str_cut($r[description],230,'...')}
                          </p>
                        </div>
                        <div class="col-md-3 pt10">
                          <a href="#" class="btn btn-warning btn-sm">快捷留言 <i class="glyphicon glyphicon-envelope"></i></a>
                          <a href="{$r[url]}" class="btn btn-warning btn-sm mt10">项目详情 <i class="glyphicon glyphicon-ok"></i></a>
                        </div>
                      </div>
                    </td>
                    <td><p class="mt30">{date('Y-m-d ',$r[inputtime])}</p></td>
                  </tr>
                  {/loop}
                
            </tbody>
            <tr>
              <td align="center">
                  {$pages}
                
                {/pc}
              </td>
            </tr>
          </table>
        </div>
        {template "content","right"}
        
      </div>
      
    </div>
    
  </div>
  
  {template "content","footer"}
  
</body>
</html>