<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
 <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/custom.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/base.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/common.css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{APP_PATH}statics/71zls/js/responese.js"></script>
    <![endif]-->
  
</head>
<body>
  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-star"></span>&nbsp;收藏本站</a>
      </div>
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="f16"><a href="#">帮助</a></li>
          <li class="f16"><a href="#">反馈</a></li>
        </ul>
      
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle f16" data-toggle="dropdown">最近浏览 <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="divider"></li>
              <li><a href="#">更多&hellip;</a></li>
            </ul>
          </li>
          <li class="f16"><a href="#">我的收藏</a></li>
          <li class="f16"><a href="#">登录</a></li>
          <li class="f16"><a href="#">注册</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <h1 class="pull-left"><img src="{APP_PATH}statics/71zls/images/logo2.png" alt=""></h1>
      <div class="projectSearch pull-left ml20">
        <ul id="myTab" class="nav nav-tabs">
          <li class="active f14"><a href="#project" data-toggle="tab">找项目</a></li>
          <li class="f14"><a href="#bonuses" data-toggle="tab">找奖金</a></li>
          <li class="f14"><a href="#service" data-toggle="tab">找服务</a></li>
          <li class="f14"><a href="#oneline" data-toggle="tab">同城在线</a></li>
          <li class="f14"><a href="#clue" data-toggle="tab">创业者俱乐部</a></li>
        </ul>
        <div id="myTabContent" class="tab-content pt10 text-center">
          <div class="tab-pane fade active in" id="project">
            <form action="" class="form-inline" role="form">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="请输入关键字">
              </div>
              <select class="form-control">
                <option>项目类别</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <select class="form-control">
                <option>投资额度</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <select class="form-control">
                <option>所在区域</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <button type="submit" class="btn btn-success">搜索</button>
            </form>
            <ul class="list-inline mt10 pull-left">
              <li class="text-success">热门关键词:</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="bonuses"></div>
          <div class="tab-pane fade" id="service"></div>
          <div class="tab-pane fade" id="oneline"></div>
          <div class="tab-pane fade" id="clue"></div>
        </div>
      </div>
      <div class="btnTooltip pull-left mt30 ml50">
        <a href="#" class="btn btn-success btn-lg" data-toggle="tooltip" data-placement="left" title="" data-original-title="在此免费发布项目、奖金、服务信息、帮助大家一起创业吧">免费发布</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="btn btn-success btn-lg" data-toggle="tooltip" data-placement="right" title="" data-original-title="在此发布你的创业需求，将为你提供最符合你想要的东西">创业帮帮</a>
      </div>
    </div>
  </div>