  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                              data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" onclick="addFavorite()" title="创业在路上" rel="sidebar" class="navbar-brand">
          <span class="glyphicon glyphicon-star"></span>
          &nbsp;
          收藏本站
        </a>
      </div>
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav btnTooltip">
          <li class="f14">
            <a href="{APP_PATH}/index.php?m=formguide&c=index&a=show&formid=19&siteid=1&pc_hash=AKdqWH">
              <span style="color:#0099CC"><strong>给我提建议</strong></span>
            </a>
          </li>
        </ul>
      
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" >
            <a href="#" class="dropdown-toggle f16" data-toggle="dropdown">
              最近浏览
              <b class="caret"></b>
            </a>
           <ul class="bbbccc dropdown-menu">
            </ul>
          </li>
          {if $_username}
            <li class="f14" style="display:none">
              <a href="{APP_PATH}index.php?m=member&c=index&a=favorite&t=2">
                我的收藏
              </a>
            </li>
            <li class="f14">
              <a href="{APP_PATH}index.php?m=member&siteid={$siteid}" target="_blank">
                <i class="glyphicon glyphicon-user cF96"></i>
                {L('您好')} {get_nickname()}
              </a>
            </li>
            <li class="f14">
              <a href="{APP_PATH}index.php?m=member&c=index&a=logout&forward={urlencode($_GET['forward'])}&siteid={$siteid}" target="_top">
                <i class="icon-signout c9C9"></i>
                {L('退出')}
              </a>
            </li>
            {else}
            <li class="f14" style="display:none">
              <a href="{APP_PATH}index.php?m=member&c=index&a=login&forward={urlencode($_GET['forward'])}&siteid={$siteid}">
                我的收藏
              </a>
            </li>
            <li class="f14">
              <a href="{APP_PATH}index.php?m=member&c=index&a=login&forward={urlencode($_GET['forward'])}&siteid={$siteid}">
                <i class="icon-signin cF96"></i>
                登录
              </a>
            </li>
            <li class="f14">
              <a href="{APP_PATH}index.php?m=member&c=index&a=register&siteid={$siteid}">
                <i class="icon-plus-sign c9C9"></i>
                注册
              </a>
            </li>
          {/if}
        </ul>
      </div>
    </div>
    <div class="container">
      <h1 class="pull-left">
       <a href='{APP_PATH}'><img src="{APP_PATH}statics/71zls/images/logo2.png" alt="在路上创业网"></a>
      </h1>
      <div class="projectSearch pull-left ml20">
        <ul id="myTab" class="nav nav-tabs">
          <li class="<?php if ($_GET["catid"]==9 && $_GET["catid"]!=16 && $_GET["catid"]!=22) echo "active"; ?> f14"><a href="#project" data-toggle="tab">找项目</a></li>
          <li class="<?php if ($_GET["catid"]==16) echo "active"; ?> f14"><a href="#bonuses" data-toggle="tab">找资金</a></li>
          <li class="<?php if ($_GET["catid"]==22) echo "active"; ?> f14"><a href="#service" data-toggle="tab">找服务</a></li>
          <li class="f14"><a href="{APP_PATH}index.php?m=city&c=index&a=mylist">同城在线</a></li>
          <li class="f14"><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=6">创业者俱乐部</a></li>
        </ul>
        <div id="myTabContent" class="tab-content pt10 pb10 text-center">
          <div class="tab-pane fade active in" id="project">
           <form action="{APP_PATH}index.php" class="form-inline" role="form" name="myform" method="get">
            <select name="catid" id="catid" class="form-control">
              <option  value='9'>项目类别</option>
              {pc:content action="category" catid="9" num="15" order="listorder ASC"}
              {loop $data $r}
             <option value="{$r[catid]}">{$r[catname]}</option>
              {/loop}
              {/pc}

            </select>
            <select name="price" id="price" class="form-control">
              <option value=''>投资额度</option>
              <option value='1'>5万以下</option>
              <option value='2'>5万-20万</option>
              <option value='3'>20万-50万</option>
              <option value='4'>50万以上</option>
            </select>
            <select name="city" id="city" class="form-control">
              <option value=''>所在区域</option>
              {php $sub_zone = show_linkage(1,'','',$modelid)} 
              {loop $sub_zone $area} 
              <option value="{$area['linkageid']}">{$area['name']}</option>   
              {/loop}
            </select>
            <div class="form-group">
              <input type="text" class="form-control" name="keyword"
                     id="keyword" placeholder="请输入关键字">
            </div>
            <button type="submit" class="btn btn-success">搜索</button>
             <input type="hidden" name="m" value="content"> 
             <input type="hidden" name="c" value="index"> 
              <input type="hidden" name="a" value="searchpr"> 
                <input type="hidden" name="dosubmit" value="1">

          </form>
            <ul class="list-inline mt20 pull-left" style="display:none">
              <li class="text-success">热门关键词:</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
            </ul>
          </div>
          
          
          <div class="tab-pane fade" id="bonuses">
            <form action="{APP_PATH}index.php" class="form-inline" role="form" name="myform" method="get">
              <select name="catid" id="catid" class="form-control">
                <option value="16">资金类别</option>
                {pc:content action="category" catid="16" num="15" order="listorder ASC"}
                {loop $data $r}
                <option value="{$r[catid]}">{$r[catname]}</option>
                {/loop}
                {/pc}
              </select>
              <select name="price" id="price" class="form-control">
                <option value="">融资额度</option>
                <option value='1'>5万以下</option>
                <option value='2'>5万-20万</option>
                <option value='3'>20万-50万</option>
                <option value='4'>50万以上</option>
              </select>
              <select name="city" id="city" class="form-control">
                <option value=''>所在区域</option>
                {php $sub_zone = show_linkage(1,'','',$modelid)} 
                {loop $sub_zone $area} 
                <option value="{$area['linkageid']}">{$area['name']}</option>   
                {/loop}
              </select>
              
              <div class="form-group">
                <input type="text" class="form-control" name="keyword" id="keyword" placeholder="请输入关键字">
              </div>
              
              
              <button type="submit" class="btn btn-success">搜索</button>
              <input type="hidden" name="m" value="content"> 
              <input type="hidden" name="c" value="index"> 
              <input type="hidden" name="a" value="searchzj"> 
              <input type="hidden" name="dosubmit" value="1">
            </form>
            <ul class="list-inline mt20 pull-left">
              <li class="text-success">热门关键词:</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="service">
          
            <form action="{APP_PATH}index.php" class="form-inline" role="form" name="myform" method="get">
              <select name="servers" id="servers" class="form-control">
                <option value="">服务类别</option>
                <option value="1">工商注册</option>
                <option value="2">财务会计/评估</option>
                <option value="3">商标专利</option>
                <option value="4">设计策划</option>
                <option value="5">法律咨询</option>
                <option value="6">货运物流</option>
                <option value="7">租赁</option>
                <option value="8">办公设备维修</option>
                <option value="9">喷绘印刷包装 </option>
                <option value="10">网站建设/推广 </option>
                <option value="11">广告传媒 </option>
                <option value="12">展会服务 </option>
                <option value="13">其他 </option>
              </select>
              <select name="city" id="city" class="form-control">
                <option value=''>所在区域</option>
                {php $sub_zone = show_linkage(1,'','',$modelid)} 
                {loop $sub_zone $area} 
                <option value="{$area['linkageid']}">{$area['name']}</option>   
                {/loop}
              </select>
            
              <div class="form-group">
                <input type="text" class="form-control"  name="keyword" id="keyword"  placeholder="请输入关键字">
              </div>
              
            
              <button type="submit" class="btn btn-success">搜索</button>
              <input type="hidden" name="c" value="index"> 
              <input type="hidden" name="a" value="searchfw"> 
              <input type="hidden" name="dosubmit" value="1">
              <input type="hidden" name="catid" value="22">
            </form>
            <ul class="list-inline mt20 pull-left">
              <li class="text-success">热门关键词:</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
            </ul>
          
          </div>
          
          <div class="tab-pane fade" id="oneline"></div>
          <div class="tab-pane fade" id="clue"></div>
        </div>
      </div>
      <div class="btnTooltip pull-left mt50 ml10">
        <a href="{APP_PATH}index.php?m=member&c=content&a=publish" class="btn btn-success btn-lg" data-toggle="tooltip"
                    data-placement="left" title=""
                    data-original-title="在此免费发布项目、奖金、服务信息、帮助大家一起创业吧">
          免费发布
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{APP_PATH}index.php?m=member&c=index&a=account_manage_info&t=1" class="btn btn-success btn-lg" data-toggle="tooltip"
                    data-placement="right" title=""
                    data-original-title="在此发布你的创业需求，将为你提供最符合你想要的东西">
          创业帮帮
        </a>
      </div>
    </div>
  </div>