  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                              data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  
        <a href="javascript:window.external.AddFavorite('http://www.71zls.com','创业在路上')" class="navbar-brand">
          <span>收藏本站</span>
        </a>
      </div>
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav btnTooltip">
          <li class="f14">
            <a href="/index.php?m=member&c=content&a=publish" data-toggle="tooltip" data-placement="right"
               title="在此免费发布项目、奖金、服务信息、帮助大家一起创业吧">
               <span style="color:#0099CC"><strong>免费发布</strong></span>
             </a>
          </li>
          <li class="f14">
            <a href="#" data-toggle="tooltip" data-placement="right"
               title="在此发布你的创业需求，将为你提供最符合你想要的东西">
              <span style="color:#0099CC"><strong>创业帮帮</strong></span>
            </a>
          </li>
        </ul>
              
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle f14" data-toggle="dropdown">
              最近浏览 <b class="caret"></b>
            </a>
            
            <ul class="dropdown-menu">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="divider"></li>
              <li><a href="#">更多&hellip;</a></li>
            </ul>
          </li>
          {if $_username}
            <li class="f14">
              <a href="{APP_PATH}index.php?m=member&c=index&a=favorite&t=2">
                我的收藏
              </a>
            </li>
            <li class="f14">
              <a href="{APP_PATH}index.php?m=member&siteid={$siteid}" target="_blank">
                <i class="glyphicon glyphicon-user cF96"></i>
                {L('您好')} {get_nickname()}
              </a>
            </li>
            <li class="f14">
              <a href="{APP_PATH}index.php?m=member&c=index&a=logout&forward={urlencode($_GET['forward'])}&siteid={$siteid}" target="_top">
                <i class="icon-signout c9C9"></i>
                {L('退出')}
              </a>
            </li>
            {else}
            <li class="f14">
              <a href="{APP_PATH}index.php?m=member&c=index&a=login&forward={urlencode($_GET['forward'])}&siteid={$siteid}">
                我的收藏
              </a>
            </li>
            <li class="f14">
              <a href="{APP_PATH}index.php?m=member&c=index&a=login&forward={urlencode($_GET['forward'])}&siteid={$siteid}">
                <i class="icon-signin cF96"></i>
                登录
              </a>
            </li>
            <li class="f14">
              <a href="{APP_PATH}index.php?m=member&c=index&a=register&siteid={$siteid}">
                <i class="icon-plus-sign c9C9"></i>
                注册
              </a>
            </li>
          {/if}

        </ul>
      </div>
    </div>
  </div>
