<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
 <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/custom.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/base.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/common.css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{APP_PATH}statics/71zls/js/responese.js"></script>
    <![endif]-->
</head>
<body>
  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  
  <a href="javascript:window.external.AddFavorite('http://www.71zls.com','创业在路上')" class="navbar-brand"><span class="glyphicon glyphicon-star"></span>&nbsp;收藏本站</a>
      </div>
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="f16"><a href="#">帮助</a></li>
          <li class="f16"><a href="#">反馈</a></li>
        </ul>
      
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle f16" data-toggle="dropdown">最近浏览 <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="divider"></li>
              <li><a href="#">更多&hellip;</a></li>
            </ul>
          </li>
          {if $_username}
          <li class="f16"><a href="{APP_PATH}index.php?m=member&c=index&a=favorite&t=2">我的收藏</a></li>
          <li class="f16"> <a href="{APP_PATH}index.php?m=member&siteid={$siteid}" target="_blank">{L('你好')} {get_nickname()},{L('用户中心')}</a></li>
          <li class="f16"><a href="{APP_PATH}index.php?m=member&c=index&a=logout&forward={urlencode($_GET['forward'])}&siteid={$siteid}" target="_top">{L('退出')}</a></li>
          {else}
          <li class="f16"><a href="{APP_PATH}index.php?m=member&c=index&a=login&forward={urlencode($_GET['forward'])}&siteid={$siteid}">我的收藏</a></li>
          <li class="f16"><a href="{APP_PATH}index.php?m=member&c=index&a=login&forward={urlencode($_GET['forward'])}&siteid={$siteid}">登录</a></li>
          <li class="f16"><a href="{APP_PATH}index.php?m=member&c=index&a=register&siteid={$siteid}">注册</a></li>
          {/if}
         

         
        </ul>
      </div>
    </div>
  </div>