<div class="pull-right pt10" style="width:350px">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">智能推广</h3>
    </div>
    <div class="panel-body">
      <img src="{APP_PATH}statics/71zls/images/jqqd.jpg" style="width:320px; height:219px" alt="">
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">热度排行</h3>
    </div>
    <div class="panel-body">
      <img src="{APP_PATH}statics/71zls/images/jqqd.jpg" style="width:320px; height:219px" alt="">
    </div>
  </div>
</div>
  