<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
 <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/custom.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/base.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/common.css">
  <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheets/font-awesome.min.css">
  <!--[if IE 7]>
    <link rel="stylesheet" href="{APP_PATH}statics/71zls/stylesheet/font-awesome-ie7.min.css">
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{APP_PATH}statics/71zls/js/responese.js"></script>
    <![endif]-->
  
</head>
<body>

{template "content","header_new_page"}
 <div class="container mb50">
    <div  style=" height:25px;">
    <a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)} 正文
    </div>
    <div class="row">
      <div class="col-xs-8 contentLeft">
        <div class="row">
          <div class="col-xs-6">
            <h2>{$title}</h2>
            <p><a href="http://wpa.qq.com/msgrd?V=1&Uin={$qq}&Site=在路上创业网&Menu=yes" target="_blank"><img src="http://wpa.qq.com/pa?p=1:{$qq}:13" alt="点击这里给我发送消息" border="0"></a></p>
            <p><strong class="f14">行业类别：</strong>{catpos1($catid)}</p>
            <p><strong class="f14">主营产品：</strong>{$product}</p>
            <p><strong class="f14">品牌区域：</strong>
            		{loop $zone $r}
					<a href="{structure_filters_url('zone',array('zone'=>$r[linkageid],'catid'=>$catid,'city'=>$city),0,$modelid)}" class="blue">{$r[name]}</a>
					{/loop} </p>
            <p><strong class="f14">投资资金：</strong>{$price}元以下</p>
            <p><strong class="f14">经营方式：</strong>{$manage}</p>
            <p><strong class="f14">扶持政策：</strong>{$support}</p>
            <p><strong class="f14">预计收益：</strong>{$income}</p>
            <p><strong class="f14">投资规模：</strong>{$scale}</p>
            <p><strong class="f14">项目特色：</strong>{$feature}</p>
            <p>

              <a href="#feedback" class="btn btn-success">免费留言咨询</a>
              &nbsp;&nbsp; 
             
              <a href="javascript:;" onclick="add_favorite('{$title}');" class="btn btn-success"> <span id='favorite'>收藏该项目</span></a>
          		
            </p>
          </div>
          <div class="col-xs-6 text-right pt20">
            <p>发布日期：{$inputtime}&nbsp;&nbsp;浏览次数：<span id="hits"></span></p>
            <!--start轮播-->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                 
                    {php $i=0 }
                    {loop $photos $r}
                <li data-target="#carousel-example-generic" data-slide-to="{$i}" {if $i==0}class="active"{/if}></li>
                    {php $i++ }
                    {/loop}
                
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                
               
                {php $i=0 }
                {loop $photos $r}
                  <div {if $i==0}class="item active"{else}class="item"{/if}>
                     <img src="{$r[url]}" class="img-thumbnail" style="width:360px; height:350px" alt="">
                    <div class="carousel-caption">
                      {str_cut($r['title'],30)}
                    </div>
                  </div>
                {php $i++ }
                {/loop}
                
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
             <!--end轮播-->
             
              
            
          </div>
        </div>
        
        <div class="page-header">
          <h4><i class=""></i>项目介绍</h2>
        </div>
        <p>
         {$description}
        </p>
        
        <div class="page-header">
          <h4>项目优势</h2>
        </div>
        <p>
          {$advantage}
        </p>
        
        <div class="page-header">
          <h4>品牌介绍</h2>
        </div>
        <p>
          {$brandin}
        </p>
        
        <div class="well">
          <h5 style="color:#ff832f">如果您对项目感兴趣，并希望获得详细对项目。</h6>
          <p>请留下您的联系方式，品牌商将第一时间与您联系！</p>
        </div>
        
        <div class="row">
          
          <div id="feedback" class="col-xs-12" style="padding-right:15px;">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">留言内容</h3>
              </div>
              <div class="panel-body">
                <form name="myform" action="{APP_PATH}index.php?m=message&c=index&a=send" method="post" id="myform" role="form">
                  <table width="100%" cellspacing="0">
                    <tr class="h50 hidden">
                      <th>收信人：</th>
                      <td><input name="info[send_to_id]" type="text" id="username" size="30" value="{$username}" style="width:200px" class="form-control"/></td>
                    </tr>
                    <tr class="h50">
                      <th>标 题：</th>
                      <td><input name="info[subject]" type="text" id="subject" size="30" value="" style="width:200px" class="form-control"/></td>
                    </tr>  
                    <tr>
                      <th>内 容：</th>
                      <td><textarea name="info[content]"  id="con" rows="5" cols="50" style="width:350px" class="form-control" onmouseover="menuControl()"></textarea></td>
                    </tr>
                    <tr class="h50">
                      <th>验证码：</th>
                      <td><input name="code" type="text" id="code" size="10" style="width:100px" class="form-control pull-left"/> {form::checkcode('code_img','4','14',110,30)}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td colspan="2"><label>
                        <input type="submit" name="dosubmit" id="dosubmit" value="确 定" class="button"/>
                      </label></td>
                    </tr>
                  </table>
                </form>
                
                <div class="p_kj_dxm">
                  
                  <div id="k-menu_1" class="info_off">
                    <p>请填写留言或根据意向选择下列快捷留言</p>
                    <ul class="list-unstyled">
                      <li><a class="no" target="_self" href="javascript:sel('请问我这个地方有加盟商了吗？')">请问我这个地方有加盟商了吗？ </a></li>
                      <li><a class="no" target="_self" href="javascript:sel('我想加盟，请来电话告诉我具体细节。')">我想加盟，请来电话告诉我具体细节。 </a></li>
                      <li><a class="no" target="_self" href="javascript:sel('想了解加盟细节，请尽快寄一份资料。')">想了解加盟细节，请尽快寄一份资料。</a></li>
                      <li><a class="no" target="_self" href="javascript:sel('给您们发过留言，未收到资料，请给我来电。')">给您留过言，未收到资料，请给我来电。</a></li>
                      <li><a class="no" target="_self" href="javascript:sel('很感兴趣，想知道加盟细节。')">很感兴趣，想知道加盟细节。</a></li>
                    </ul>
                  </div>
                  <div id="k-menu_2" class="info_on">
                    <p>请填写留言或根据意向选择下列快捷留言</p>
                    <ul class="list-unstyled">
                      <li><a class="no" target="_self" href="javascript:sel('项目很好，现在就想加盟，请给我预留名额。')">给您留过言，未收到资料，请给我来电。</a></li>
                      <li><a class="no" target="_self" href="javascript:sel('请问贵公司哪里有样板店或直营店？')">请问贵公司哪里有样板店或直营店？</a></li>
                      <li><a class="no" target="_self" href="javascript:sel('请给我打电话，并寄加盟资料。')">请给我打电话，并寄加盟资料。</a></li>
                      <li><a class="no" target="_self" href="javascript:sel('很想合作，来电话细谈吧。')">很想合作，来电话细谈吧。</a></li>
                      <li><a class="no" target="_self" href="javascript:sel('对这个项目很感兴趣，请尽快寄资料。')">对这个项目很感兴趣，请尽快寄资料。</a></li>
                    </ul>
                  </div>
                  <div id="k-menu_3" class="info_off">
                    <p>请填写留言或根据意向选择下列快捷留言</p>
                    <ul class="list-unstyled">
                      <li><a class="no" target="_self" href="javascript:sel('我加盟后，您们还会提供哪些服务？')">我加盟后，您们还会提供哪些服务？</a></li>
                      <li><a class="no" target="_self" href="javascript:sel('有兴趣开一个店，请寄资料或给我打电话。')">有兴趣开一个店，请寄资料或给我打电话。</a></li>
                      <li><a class="no" target="_self" href="javascript:sel('请问我这个地方有加盟商了吗？')">请问我这个地方有加盟商了吗？</a></li>
                      <li><a class="no" target="_self" href="javascript:sel('请将详细投资方案和资料寄给本人。')">请将详细投资方案和资料寄给本人。</a></li>
                      <li><a class="no" target="_self" href="javascript:sel('初步打算加盟贵公司，请寄资料。')">初步打算加盟贵公司，请寄资料。</a></li>
                    </ul>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
        <p class="f14 ">
          <i class="icon-hand-left">&nbsp;&nbsp;</i><strong>上一篇：</strong><a href="{$previous_page[url]}">{$previous_page[title]}</a><br />
          <i class="icon-hand-right">&nbsp;&nbsp;</i><strong>下一篇：</strong><a href="{$next_page[url]}">{$next_page[title]}</a>
        </p>
        
      </div>
      <div class="col-xs-4 contentRight ">
        <h4>您还可以</h4>
        <h5><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid={$catid}"><i class="icon-search f20" style="color:#e9762a"></i>&nbsp;&nbsp;查看相似项目</a></h5>
        <h5>分享到</h5>
        <div class="Article-Tool well">
          <img src="http://v.t.qq.com/share/images/s/weiboicon16.png" style="padding-bottom:3px;" onclick="postToWb();" class="cu" title="分享到腾讯微博"/><script type="text/javascript">
	function postToWb(){
		var _t = encodeURI(document.title);
		var _url = encodeURIComponent(document.location);
		var _appkey = encodeURI("cba3558104094dbaa4148d8caa436a0b");
		var _pic = encodeURI('{$thumb}');
		var _site = '';
		var _u = 'http://v.t.qq.com/share/share.php?url='+_url+'&appkey='+_appkey+'&site='+_site+'&pic='+_pic+'&title='+_t;
		window.open( _u,'', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );
	}
</script>
          <script type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url='+encodeURIComponent(location.href)+'&appkey=3783599636&title='+encodeURIComponent('{new_addslashes($title.'-#创业在路上#:一个致力于为广大创业者搭建资源交流的平台')}')+'" title="分享到新浪微博" class="t1" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>');</script>
		  <script type="text/javascript">document.write('<a href="http://www.douban.com/recommend/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('{new_addslashes($title)}')+'" title="分享到豆瓣" class="t2" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>');</script>
		  <script type="text/javascript">document.write('<a href="http://share.renren.com/share/buttonshare.do?link='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('{new_addslashes($title)}')+'" title="分享到人人" class="t3" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>');</script>
		  <script type="text/javascript">document.write('<a href="http://www.kaixin001.com/repaste/share.php?rtitle='+encodeURIComponent('{new_addslashes($title)}')+'&rurl='+encodeURIComponent(location.href)+'&rcontent=" title="分享到开心网" class="t4" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>');</script>
		  <script type="text/javascript">document.write('<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(location.href)+'" title="分享到QQ空间" class="t5" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>');</script>
        </div>
        <p>
          <a href="{APP_PATH}index.php?m=member&c=content&a=publish" class="btn btn-default">我要发布需求</a>
        </p>
        <p>
          <img src="{APP_PATH}statics/71zls/images/jqqd2.jpg" width="359px" height="359px" alt="">
        </p>
      </div>
    </div>
    
  </div>
  <script type="text/javascript">
<!--
	function show_ajax(obj) {
		var keywords = $(obj).text();
		var offset = $(obj).offset();
		var jsonitem = '';
		$.getJSON("{APP_PATH}index.php?m=content&c=index&a=json_list&type=keyword&modelid={$modelid}&id={$id}&keywords="+encodeURIComponent(keywords),
				function(data){
				var j = 1;
				var string = "<div class='point key-float'><div style='position:relative'><div class='arro'></div>";
				string += "<a href='JavaScript:;' onclick='$(this).parent().parent().remove();' hidefocus='true' class='close'><span>关闭</span></a><div class='contents f12'>";
				if(data!=0) {
				  $.each(data, function(i,item){
					j = i+1;
					jsonitem += "<a href='"+item.url+"' target='_blank'>"+j+"、"+item.title+"</a><BR>";
					
				  });
					string += jsonitem;
				} else {
					string += '没有找到相关的信息！';
				}
					string += "</div><span class='o1'></span><span class='o2'></span><span class='o3'></span><span class='o4'></span></div></div>";		
					$(obj).after(string);
					$('.key-float').mouseover(
						function (){
							$(this).siblings().css({"z-index":0})
							$(this).css({"z-index":1001});
						}
					)
					$(obj).next().css({ "left": +offset.left-100, "top": +offset.top+$(obj).height()+12});
				});
	}

	function add_favorite(title) {
		$.getJSON('{APP_PATH}api.php?op=add_favorite&title='+encodeURIComponent(title)+'&url='+encodeURIComponent(location.href)+'&'+Math.random()+'&callback=?', function(data){
			if(data.status==1)	{
				$("#favorite").html('收藏成功');
			} else {
				alert('请登录');
			}
		});
	}
  
  function menuControl() {
      var numID = Math.floor(Math.random() * 3) + 1;
      showOneSpan(numID);
      $('.p_kj_dxm').show();
  }
  function menuControlHide() {
    $('.p_kj_dxm').hide();
  }
  
  function showOneSpan(obj) {
      var s = "k-menu_" + obj;
      document.getElementById(s).className = "info_on";
  }
  
  function sel(val) {
      document.getElementById("con").value += val + "\n";
  }
  
  //-->
</script>

<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footer"}

</body>
</html>