{template "content","header_new_page"}
 <div class="container mb50">
    
    <div class="row">
      <div class="col-md-8 contentLeft">
        <div class="row">
          <div class="col-md-6">
            <h2>项目名称</h2>
            <p>QQ:299900</p>
            <p><strong class="f14">行业类别：</strong>餐饮美食</p>
            <p><strong class="f14">主营产品：</strong>汉堡</p>
            <p><strong class="f14">品牌区域：</strong>上海</p>
            <p><strong class="f14">投资资金：</strong>5万以下</p>
            <p><strong class="f14">经营方式：</strong>代理</p>
            <p><strong class="f14">扶持政策：</strong>提供装修</p>
            <p><strong class="f14">预计收益：</strong>3万/年</p>
            <p><strong class="f14">投资规模：</strong>20m，3人</p>
            <p><strong class="f14">项目特色：</strong>优质品牌 市场巨大</p>
            <p>
              <a href="#" class="btn btn-success">免费留言咨询</a>
              &nbsp;&nbsp;
              <a href="#" class="btn btn-success">收藏该项目</a>
            </p>
          </div>
          <div class="col-md-6 text-right pt20">
            <p>发布日期：2013-12-26&nbsp;&nbsp;浏览次数：86</p>
            <div>
              <img src="#" class="img-thumbnail" style="width:350px; height:350px" alt="">
            </div>
          </div>
        </div>
        
        <div class="page-header">
          <h4><i class=""></i>项目介绍</h2>
        </div>
        <p>
          所谓产权房，是指产权人对房屋（指）拥有所有权，对该房屋占用范围内的土地拥有使用权，产权人对这两项权利享有占有
          使用，收益和处分的权利。这种权利是绝对的、排他的，不受其他任何人的干涉和影响，产权人可以转让、出租、抵押、典
          当等方式合法处置自己的房地产权利。房屋产权定义
        </p>
        
        <div class="page-header">
          <h4>项目优势</h2>
        </div>
        <p>
          所谓产权房，是指产权人对房屋（指）拥有所有权，对该房屋占用范围内的土地拥有使用权，产权人对这两项权利享有占有
          使用，收益和处分的权利。这种权利是绝对的、排他的，不受其他任何人的干涉和影响，产权人可以转让、出租、抵押、典
          当等方式合法处置自己的房地产权利。房屋产权定义
        </p>
        
        <div class="page-header">
          <h4>品牌介绍</h2>
        </div>
        <p>
          所谓产权房，是指产权人对房屋（指）拥有所有权，对该房屋占用范围内的土地拥有使用权，产权人对这两项权利享有占有
          使用，收益和处分的权利。这种权利是绝对的、排他的，不受其他任何人的干涉和影响，产权人可以转让、出租、抵押、典
          当等方式合法处置自己的房地产权利。房屋产权定义
        </p>
        
        <div class="well">
          <h5 style="color:#ff832f">如果您对项目感兴趣，并希望获得详细对项目。</h6>
          <p>请留下您的联系方式，品牌商将第一时间与您联系！</p>
        </div>
        
        <div class="row">
          <div class="col-md-4" style="padding-right:0">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">电话回呼</h3>
              </div>
              <div class="panel-body">
                1
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-right:0">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">留言内容</h3>
              </div>
              <div class="panel-body">
                2
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">请您填写留言或选择下列快捷留言</h3>
              </div>
              <div class="panel-body">
                3
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-md-4 contentRight">
        <h4>您还可以</h4>
        <h5><i class="icon-search f20" style="color:#e9762a"></i>&nbsp;&nbsp;查看相识项目</h5>
        <h5>分享到</h5>
        <div class="well">
          hh
        </div>
        <p>
          <a href="#" class="btn btn-default">我要发布需求</a>
        </p>
        <p>
          <img src="" width="359px" height="359px" alt="">
        </p>
      </div>
    </div>
    
  </div>
{template "content","footer"}