{template "content","header_info"}
<div class="wp" id="content">
	<div class="Location blue1"><a href="{siteurl($siteid)}">首页</a> > {catpos($catid)}
					{loop $zone $r}
					{if $r[parentid]}<a href="{structure_filters_url('zone',array('zone'=>$r[linkageid],'catid'=>$catid,'city'=>$city),0,$modelid)}">{$r[name]}</a> > {/if}
					{/loop}{$title}</div>
	<div class="info-show clear">
    	<div class="hd">
        	<h1>{$title} <a href="javascript:;" class="f12 fn blue" onclick="add_favorite('{$title}');" id='favorite'>(收藏)</a></h1>
            <p class="blue1"><span class="gray4">{$inputtime}</span>浏览:<font color="red" id="hits">0</font>次</p>
        </div>
        <div class="info-list">
        	<ul class="info">
                <li><span>租金：</span><em class="redfont">{$price}</em> 元/月 ({$pay_type_int})</li>
                <li><span>整套户型：</span>{$bedroom}室 {$hall} 厅 {$bathroom} 卫 ({$rent_mode}-{$area}㎡)</li>
                <li><span>基本情况：</span>{$objecttype}，{$fittype}，朝向{$toward} (第 {$floor} 层， 共 {$floors} 层)</li>
                {if $houseallocation}<li><span>配置：</span>{substr($houseallocation,0,-3)}</li>{/if}
                {if !empty($zone)}
				<li><span>区域：</span>
					{loop $zone $r}
					{if $r[parentid]}<a href="{structure_filters_url('zone',array('zone'=>$r[linkageid],'catid'=>$catid,'city'=>$city),0,$modelid)}" class="blue">{$r[name]}</a>{/if}
					{/loop} 
				</li>
				{/if}
                <li><span>小区：</span>{$xiaoqu_address}</li>
                <li><span>地址：</span>{$address}</li>
    		</ul>
            <div class="Reminded">
<strong>提醒：</strong>让您提前汇款或者不见面交易的都是骗子！<br />
电脑配置很高但价格很低的都是虚假信息。
            </div>
        </div>
        <dl class="user">
        	<dt><span>联 系 人：</span>{$contact}</dt>
            <dt><span>联系电话：</span>{if getinfocache('img_contact')}{string2img($phone)}{else}{$phone}{/if}</dt>
			<dt class="Tool"><span>分　　享：</span><img src="http://v.t.qq.com/share/images/s/weiboicon16.png" onclick="postToWb();" class="cu" title="分享到腾讯微博"/><script type="text/javascript">
	function postToWb(){
		var _t = encodeURI(document.title);
		var _url = encodeURIComponent(document.location);
		var _appkey = encodeURI("cba3558104094dbaa4148d8caa436a0b");
		var _pic = encodeURI('{$thumb}');
		var _site = '';
		var _u = 'http://v.t.qq.com/share/share.php?url='+_url+'&appkey='+_appkey+'&site='+_site+'&pic='+_pic+'&title='+_t;
		window.open( _u,'', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );
	}
</script><script type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url='+encodeURIComponent(location.href)+'&appkey=3172366919&title='+encodeURIComponent('{new_addslashes($title)}')+'" title="分享到新浪微博" class="t1" target="_blank">&nbsp;</a>');</script>
				  <script type="text/javascript">document.write('<a href="http://www.douban.com/recommend/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('{new_addslashes($title)}')+'" title="分享到豆瓣" class="t2" target="_blank">&nbsp;</a>');</script>
				  <script type="text/javascript">document.write('<a href="http://share.renren.com/share/buttonshare.do?link='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('{new_addslashes($title)}')+'" title="分享到人人" class="t3" target="_blank">&nbsp;</a>');</script>
				  <script type="text/javascript">document.write('<a href="http://www.kaixin001.com/repaste/share.php?rtitle='+encodeURIComponent('{new_addslashes($title)}')+'&rurl='+encodeURIComponent(location.href)+'&rcontent=" title="分享到开心网" class="t4" target="_blank">&nbsp;</a>');</script>
				  <script type="text/javascript">document.write('<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(location.href)+'" title="分享到QQ空间" class="t5" target="_blank">&nbsp;</a>');</script></dt>
        </dl>
        <div class="bk15"></div>
    </div>
    <div class="bk10"></div>
	<div class="content-sub clear">
    	<div class="col-left">
            <div class="des">
            	<h5>详细描述</h5>
            	{$content}
				{if $rs[map]}
				<h5>地图位置</h5>
				{$map}
				{/if}
            </div>
            <ul class="pic picbig clear">
			{loop $photos $photo}
				<li><div class="img-wrap"><a href="{$photo['url']}" title="{$photo['alt']}" target="_blank"><img src="{$photo['url']}" width="120" height="160" /></a></div></li>
			{/loop}
            </ul>
        </div>
        <div class="col-right">
        	<div class="category-sub">
        	<h5>推荐信息</h5>
            <ul>
			{pc:content action="relation" relation="$relation" id="$id" catid="$catid" num="5" keywords="$rs[keywords]"}
			{if $data}
			{loop $data $r}
				<li><a href="{$r[url]}" class="blue1" title="{$r[title]}" {$r[style]}>{str_cut($r[title],34,'')}</a></li>
			{/loop}	
			 {/if}
			{/pc}			
            </ul>
        </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="{JS_PATH}jquery.sGallery.js"></script>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
<script type="text/javascript">
function add_favorite(title) {
	$.getJSON('{APP_PATH}api.php?op=add_favorite&title='+encodeURIComponent(title)+'&url='+encodeURIComponent(location.href)+'&'+Math.random()+'&callback=?', function(data){
		if(data.status==1)	{
			$("#favorite").html('收藏成功');
		} else {
			alert('请登录');
		}
	});
}
</script>

{template "content","footer"}